---
layout: primary
---

<main class="newspage-content" id="content">
  <h2>{{ title }}</h2>
  <p>
    <i>Written: {{ date | date: "%b %d, %Y"}}</i>
  </p>

  <div class="text-image-wrapper">
    <article class="text-wrapper">
      {{ content }}
    </article>
    <img sizes='{{ sizes }}' srcset=' {{ srcset }}' src='{{ src }}' alt='{{ alt }}'>
  </div>


</main>