---
layout: primary
---

<main>
    <section id="workshops">
        <p class="super-headline">Find your entrance level & book a workshop with Aaron</p>
        <h2>If you never start, you will never know.</h2>

        <div class="workshop-grid">
            <div class="level">
                <p class="only-desktop step-number">3</p>
                <div class="level-icon-wrapper only-mobile">
                    <p>3</p>
                    <div class="background-circle"></div>
                    <img src="./images/level-3.svg" alt='Icon showing dancer stretching her leg up to her nose.'>
                </div>

                <div class="step-content config-1">
                    <div class="step-text config-1">
                        <div>
                            <h3>As pro as you can get</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla voluptas corrupti quam delectus tempore ipsa veniam inventore quae illum dolorem consectetur, rerum totam explicabo odit obcaecati officia nobis pariatur ex?</p>    
                        </div>
                        <a href="#" class="button">Book Workshop</a>  
                    </div>

                    <div class="background-circle config-1 only-desktop"></div>
                    <img class="only-desktop config-1 icon" src="./images/level-3.svg" alt='Icon showing dancer stretching her leg up to her nose.'>
                    <img src="./images/quote.svg" alt='quote sign' class="quote-sign config-1">
                    <blockquote class="config-1">Respect your talent!</blockquote>
                </div>
                
            </div>
            <p class='apply'>Apply for an audition now!</p>


            <div class="level">
                <p class="only-desktop step-number centered">2</p>
                <div class="level-icon-wrapper only-mobile">
                    <p>2</p>
                    <div class="background-circle"></div>
                    <img src="./images/level-2.svg" alt='Icon showing dancer stretching her leg up to her nose.'>
                </div>

                <div class="step-content config-2">
                    <div class="step-text config-2">
                        <div>
                            <h3>Aspire more</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla voluptas corrupti quam delectus tempore ipsa veniam inventore quae illum dolorem consectetur, rerum totam explicabo odit obcaecati officia nobis pariatur ex?</p>
                        </div>
                        <a href="#" class="button">Book Workshop</a>    
                    </div>        

                    <div class="background-circle config-2 only-desktop"></div>
                    <img class="only-desktop config-2 icon" src="./images/level-2.svg" alt='Icon showing dancer stretching her leg up to her nose.'>
                    <img src="./images/quote.svg" alt='quote sign' class="quote-sign config-2">
                    <blockquote class="config-2">Thank yourself for leveling up now!</blockquote>
                </div>
            </div>
            <p class='apply config-2'>Registration now open for everybody!</p>


            <div class="level">
                <p class="only-desktop step-number bottom">1</p>
                <div class="level-icon-wrapper only-mobile">
                    <p>1</p>
                    <div class="background-circle"></div>
                    <img src="./images/level-1.svg" alt='Icon showing dancer stretching her leg up to her nose.'>
                </div>

                <div class="step-content config-3">
                    <div class="step-text config-3">
                        <div>
                            <h3>Learn the Basics profoundly</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla voluptas corrupti quam delectus tempore ipsa veniam inventore quae illum dolorem consectetur, rerum totam explicabo odit obcaecati officia nobis pariatur ex?</p>
                        </div>

                        <a href="#" class="button">Book Workshop</a>  
                    </div>

                    <div class="background-circle config-3 only-desktop"></div>
                    <img class="only-desktop config-3 icon" src="./images/level-1.svg" alt='Icon showing dancer stretching her leg up to her nose.'>
                    <img src="./images/quote.svg" alt='quote sign' class="quote-sign config-3">
                    <blockquote class="config-3">Fall in love with dancing!</blockquote>        
                </div>
            </div>
            <p class='apply config-3'>Registration now open for everybody!</p>

        </div>
    </section>

    <section id="about" class="full-bleed">
        <div class="about-container">
            <img
                sizes="(max-width: 1237px) 100vw, 1237px"
                srcset="
                    ./images/about-image-cut_buaoaf_c_scale,w_200.png 200w,
                    ./images/about-image-cut_buaoaf_c_scale,w_633.png 633w,
                    ./images/about-image-cut_buaoaf_c_scale,w_912.png 912w,
                    ./images/about-image-cut_buaoaf_c_scale,w_1088.png 1088w,
                    ./images/about-image-cut_buaoaf_c_scale,w_1237.png 1237w"
                src="./images/about-image-cut_buaoaf_c_scale,w_1237.png"
                alt="portrait of aaron" >
            <div class="text-content">
                <p class="super-headline">Why I teach</p>
                <h2>Hi, I'm Aaron!</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat itaque incidunt, nihil, recusandae autem aut perferendis reiciendis a neque veniam quibusdam animi ex tempora reprehenderit, aspernatur asperiores consequatur consectetur ipsum!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat itaque incidunt, nihil, recusandae autem aut perferendis reiciendis a neque veniam quibusdam animi ex tempora reprehenderit, aspernatur asperiores consequatur consectetur ipsum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat itaque incidunt, nihil, recusandae autem aut perferendis reiciendis a neque veniam quibusdam animi ex tempora reprehenderit, aspernatur asperiores consequatur consectetur ipsum!</p>

                <a>Learn more</a>
            </div>
        </div>     
    </section>
    <section id="news">
        <p class="super-headline">Making waves since 2004</p>
        <h2>In the News</h2>

        <div class="news-container">
            {% assign news = collections.news | reverse %}

            {% for n in news limit:3 %}
            <article> 
                <h3><a href='{{ n.url | append: "#content" }}'>{{ n.data.title }}</a></h3> 
                <img sizes='{{ n.data.sizes }}' srcset=' {{ n.data.srcset }}' src='{{ n.data.src }}' alt='{{ n.data.alt }}'>
                <p> 
                    {{ n.data.excerpt }}
                </p>
                <a href='{{ n.url | append: "#content"}}' class="button">Read more</a>
            </article>
            {% endfor %}
        </div>
    </section>
</main>